In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
#Read the csv
df = pd.read_csv('../../../archive/2022/heart_2022_no_nans.csv')
df.head()

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,RemovedTeeth,HadHeartAttack,...,HeightInMeters,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,Alabama,Female,Very good,4.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,None of them,No,...,1.60,71.67,27.99,No,No,Yes,Yes,"Yes, received Tdap",No,No
1,Alabama,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,6.0,None of them,No,...,1.78,95.25,30.13,No,No,Yes,Yes,"Yes, received tetanus shot but not sure what type",No,No
2,Alabama,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,No,8.0,"6 or more, but not all",No,...,1.85,108.86,31.66,Yes,No,No,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes
3,Alabama,Female,Fair,5.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,None of them,No,...,1.70,90.72,31.32,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes
4,Alabama,Female,Good,3.0,15.0,Within past year (anytime less than 12 months ...,Yes,5.0,1 to 5,No,...,1.55,79.38,33.07,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No

In [3]:
int(df.duplicated().sum())

9

In [4]:
df = df.drop_duplicates()

In [5]:
df.isnull().sum()

State                        0
Sex                          0
GeneralHealth                0
PhysicalHealthDays           0
MentalHealthDays             0
LastCheckupTime              0
PhysicalActivities           0
SleepHours                   0
RemovedTeeth                 0
HadHeartAttack               0
HadAngina                    0
HadStroke                    0
HadAsthma                    0
HadSkinCancer                0
HadCOPD                      0
HadDepressiveDisorder        0
HadKidneyDisease             0
HadArthritis                 0
HadDiabetes                  0
DeafOrHardOfHearing          0
BlindOrVisionDifficulty      0
DifficultyConcentrating      0
DifficultyWalking            0
DifficultyDressingBathing    0
DifficultyErrands            0
SmokerStatus                 0
ECigaretteUsage              0
ChestScan                    0
RaceEthnicityCategory        0
AgeCategory                  0
HeightInMeters               0
WeightInKilograms            0
BMI                          0
AlcoholDrinkers              0
HIVTesting                   0
FluVaxLast12                 0
PneumoVaxEver                0
TetanusLast10Tdap            0
HighRiskLastYear             0
CovidPos                     0
dtype: int64

In [6]:
non_numeric_columns = df.select_dtypes(exclude=['number']).columns

# Return values of non numerical columns 
def printUniqueValues(df,column):
    return f'Column: {column} Values: {df[column].unique()}'
def categorical_into_numerical_yes_no(df,column):
    return  df[column].apply(lambda val: 0 if( val == 'No') else 1 if (val == 'Yes') else  val)
for column in non_numeric_columns:
    row = printUniqueValues(df, column)
    print(row)

Column: State Values: ['Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California' 'Colorado'
 'Connecticut' 'Delaware' 'District of Columbia' 'Florida' 'Georgia'
 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas' 'Kentucky'
 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan' 'Minnesota'
 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada' 'New Hampshire'
 'New Jersey' 'New Mexico' 'New York' 'North Carolina' 'North Dakota'
 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania' 'Rhode Island' 'South Carolina'
 'South Dakota' 'Tennessee' 'Texas' 'Utah' 'Vermont' 'Virginia'
 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming' 'Guam' 'Puerto Rico'
 'Virgin Islands']
Column: Sex Values: ['Female' 'Male']
Column: GeneralHealth Values: ['Very good' 'Fair' 'Good' 'Excellent' 'Poor']
Column: LastCheckupTime Values: ['Within past year (anytime less than 12 months ago)'
 '5 or more years ago'
 'Within past 2 years (1 year but less than 2 years ago)'
 'Within past 5 years (2 years but less than 5 years ago)']
Column: PhysicalActivities Values: ['Yes' 'No']
Column: RemovedTeeth Values: ['None of them' '6 or more, but not all' '1 to 5' 'All']
Column: HadHeartAttack Values: ['No' 'Yes']
Column: HadAngina Values: ['No' 'Yes']
Column: HadStroke Values: ['No' 'Yes']
Column: HadAsthma Values: ['No' 'Yes']
Column: HadSkinCancer Values: ['No' 'Yes']
Column: HadCOPD Values: ['No' 'Yes']
Column: HadDepressiveDisorder Values: ['No' 'Yes']
Column: HadKidneyDisease Values: ['No' 'Yes']
Column: HadArthritis Values: ['Yes' 'No']
Column: HadDiabetes Values: ['No' 'Yes' 'Yes, but only during pregnancy (female)'
 'No, pre-diabetes or borderline diabetes']
Column: DeafOrHardOfHearing Values: ['No' 'Yes']
Column: BlindOrVisionDifficulty Values: ['No' 'Yes']
Column: DifficultyConcentrating Values: ['No' 'Yes']
Column: DifficultyWalking Values: ['No' 'Yes']
Column: DifficultyDressingBathing Values: ['No' 'Yes']
Column: DifficultyErrands Values: ['No' 'Yes']
Column: SmokerStatus Values: ['Former smoker' 'Never smoked' 'Current smoker - now smokes every day'
 'Current smoker - now smokes some days']
Column: ECigaretteUsage Values: ['Never used e-cigarettes in my entire life' 'Use them some days'
 'Not at all (right now)' 'Use them every day']
Column: ChestScan Values: ['No' 'Yes']
Column: RaceEthnicityCategory Values: ['White only, Non-Hispanic' 'Black only, Non-Hispanic'
 'Other race only, Non-Hispanic' 'Multiracial, Non-Hispanic' 'Hispanic']
Column: AgeCategory Values: ['Age 65 to 69' 'Age 70 to 74' 'Age 75 to 79' 'Age 80 or older'
 'Age 50 to 54' 'Age 40 to 44' 'Age 60 to 64' 'Age 55 to 59'
 'Age 45 to 49' 'Age 35 to 39' 'Age 25 to 29' 'Age 30 to 34'
 'Age 18 to 24']
Column: AlcoholDrinkers Values: ['No' 'Yes']
Column: HIVTesting Values: ['No' 'Yes']
Column: FluVaxLast12 Values: ['Yes' 'No']
Column: PneumoVaxEver Values: ['Yes' 'No']
Column: TetanusLast10Tdap Values: ['Yes, received Tdap' 'Yes, received tetanus shot but not sure what type'
 'No, did not receive any tetanus shot in the past 10 years'
 'Yes, received tetanus shot, but not Tdap']
Column: HighRiskLastYear Values: ['No' 'Yes']
Column: CovidPos Values: ['No' 'Yes'
 'Tested positive using home test without a health professional']

In [7]:
df.loc[:,'Sex_n'] = df['Sex'].apply(lambda val: 0 if( val == 'Male') else 1 ) # 0 if male 1 if female
df.loc[:,'LastCheckupTime_n'] = df['LastCheckupTime'].apply( lambda val: 0 if (val == 'Within past year (anytime less than 12 months ago)')
                                                            else 1 if (val == 'Within past 2 years (1 year but less than 2 years ago)') 
                                                            else 2 if (val == 'Within past 5 years (2 years but less than 5 years ago)')
                                                            else 3 if (val ==  '5 or more years ago')
                                                            else val)
df.loc[:,'RemovedTeeth_n'] = df['RemovedTeeth'].apply(lambda val: 0 if (val == 'None of them') 
                                                        else 1 if (val == '1 to 5')
                                                        else 2 if (val == '6 or more, but not all' )
                                                        else 3 if (val == 'All')
                                                        else val)
df.loc[:,'GeneralHealth_n'] = df['GeneralHealth'].apply(lambda val: 0 if val == 'Poor'
                                                          else 1 if val == 'Fair'  
                                                          else 2 if val == 'Good'
                                                          else 3 if val == 'Very good'
                                                          else 4 if val == 'Excellent'
                                                          else val) 
df.loc[:,'CovidPos_n'] = df['CovidPos'].apply(lambda val: 0 if (val == 'No')
                                                else 1 if (val == 'Tested positive using home test without a health professional')
                                                else 2 if (val == 'Yes')
                                                else val)
df.loc[:,'TetanusLast10Tdap_n'] = df['TetanusLast10Tdap'].apply(lambda val: 0 if (val == 'Yes, received Tdap') 
                                                                else 1 if (val == 'Yes, received tetanus shot, but not Tdap' )
                                                                else 2 if (val == 'Yes, received tetanus shot but not sure what type')
                                                                else 3 if (val == 'No, did not receive any tetanus shot in the past 10 years')
                                                                else val)
df.loc[:,'AgeCategory_n'] = df['AgeCategory'].apply(lambda val: 18 if val == 'Age 18 to 24'
                                                          else 25 if val == 'Age 25 to 29'  
                                                          else 30 if val == 'Age 30 to 34'
                                                          else 35 if val == 'Age 35 to 39'
                                                          else 40 if val == 'Age 40 to 44'
                                                          else 45 if val == 'Age 45 to 49'
                                                          else 50 if val == 'Age 50 to 54'
                                                          else 55 if val == 'Age 55 to 59'
                                                          else 60 if val == 'Age 60 to 64'
                                                          else 65 if val == 'Age 65 to 69'
                                                          else 70 if val == 'Age 70 to 74'
                                                          else 75 if val == 'Age 75 to 79'
                                                          else 80 if val == 'Age 80 or older'
                                                          else val) # Age into numerical category based on start age of range so 18 to 24 will be 18
df.loc[:,'HadDiabetes_n'] = df['HadDiabetes'].apply(lambda val: 0 if val == 'No'
                                                          else 1 if val == 'No, pre-diabetes or borderline diabetes'  
                                                          else 2 if val == 'Yes, but only during pregnancy (female)'
                                                          else 3 if val == 'Yes'
                                                          else val) # scale from 0 to 3 based on value
df.loc[:,'SmokerStatus_n'] = df['SmokerStatus'].apply(lambda val: 0 if val == 'Never smoked'
                                                          else 1 if val == 'Former smoker' 
                                                          else 2 if val == 'Current smoker - now smokes some days'
                                                          else 3 if val == 'Current smoker - now smokes every day'
                                                          else val) # scale from 0 to 4 based on value
df.loc[:,'ECigaretteUsage_n'] = df['ECigaretteUsage'].apply(lambda val: 0 if val == 'Never used e-cigarettes in my entire life'
                                                          else 1 if val == 'Not at all (right now)' 
                                                          else 2 if val == 'Use them some days'
                                                          else 3 if val == 'Use them every day'
                                                          else val) # scale from 0 to 4 based on value

for column in non_numeric_columns:
    unique_values = set(df[column].unique())  
    if unique_values.issubset({'Yes', 'No'}):  
        df[f'{column}_n'] = categorical_into_numerical_yes_no(df, column)
        df.drop(columns=[column], inplace=True)
df.drop(columns=['State','Sex','GeneralHealth','AgeCategory','HadDiabetes','SmokerStatus','ECigaretteUsage','RaceEthnicityCategory','LastCheckupTime'
                 ,'RemovedTeeth','CovidPos','TetanusLast10Tdap'], inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 246013 entries, 0 to 246021
Data columns (total 38 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   PhysicalHealthDays           246013 non-null  float64
 1   MentalHealthDays             246013 non-null  float64
 2   SleepHours                   246013 non-null  float64
 3   HeightInMeters               246013 non-null  float64
 4   WeightInKilograms            246013 non-null  float64
 5   BMI                          246013 non-null  float64
 6   Sex_n                        246013 non-null  int64
 7   LastCheckupTime_n            246013 non-null  int64
 8   RemovedTeeth_n               246013 non-null  int64
 9   GeneralHealth_n              246013 non-null  int64
 10  CovidPos_n                   246013 non-null  int64
 11  TetanusLast10Tdap_n          246013 non-null  int64
 12  AgeCategory_n                246013 non-null  int64
 13  HadDiabetes_n                246013 non-null  int64
 14  SmokerStatus_n               246013 non-null  int64
 15  ECigaretteUsage_n            246013 non-null  int64
 16  PhysicalActivities_n         246013 non-null  int64
 17  HadHeartAttack_n             246013 non-null  int64
 18  HadAngina_n                  246013 non-null  int64
 19  HadStroke_n                  246013 non-null  int64
 20  HadAsthma_n                  246013 non-null  int64
 21  HadSkinCancer_n              246013 non-null  int64
 22  HadCOPD_n                    246013 non-null  int64
 23  HadDepressiveDisorder_n      246013 non-null  int64
 24  HadKidneyDisease_n           246013 non-null  int64
 25  HadArthritis_n               246013 non-null  int64
 26  DeafOrHardOfHearing_n        246013 non-null  int64
 27  BlindOrVisionDifficulty_n    246013 non-null  int64
 28  DifficultyConcentrating_n    246013 non-null  int64
 29  DifficultyWalking_n          246013 non-null  int64
 30  DifficultyDressingBathing_n  246013 non-null  int64
 31  DifficultyErrands_n          246013 non-null  int64
 32  ChestScan_n                  246013 non-null  int64
 33  AlcoholDrinkers_n            246013 non-null  int64
 34  HIVTesting_n                 246013 non-null  int64
 35  FluVaxLast12_n               246013 non-null  int64
 36  PneumoVaxEver_n              246013 non-null  int64
 37  HighRiskLastYear_n           246013 non-null  int64
dtypes: float64(6), int64(32)
memory usage: 73.2 MB

In [9]:
df

,PhysicalHealthDays,MentalHealthDays,SleepHours,HeightInMeters,WeightInKilograms,BMI,Sex_n,LastCheckupTime_n,RemovedTeeth_n,GeneralHealth_n,...,DifficultyConcentrating_n,DifficultyWalking_n,DifficultyDressingBathing_n,DifficultyErrands_n,ChestScan_n,AlcoholDrinkers_n,HIVTesting_n,FluVaxLast12_n,PneumoVaxEver_n,HighRiskLastYear_n
0,4.0,0.0,9.0,1.60,71.67,27.99,1,0,0,3,...,0,0,0,0,0,0,0,1,1,0
1,0.0,0.0,6.0,1.78,95.25,30.13,0,0,0,3,...,0,0,0,0,0,0,0,1,1,0
2,0.0,0.0,8.0,1.85,108.86,31.66,0,0,2,3,...,0,1,0,0,1,1,0,0,1,0
3,5.0,0.0,9.0,1.70,90.72,31.32,1,0,0,1,...,0,1,0,0,0,0,0,1,1,0
4,3.0,15.0,5.0,1.55,79.38,33.07,1,0,1,2,...,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246017,0.0,0.0,6.0,1.78,102.06,32.28,0,1,0,3,...,0,0,0,0,0,1,0,0,0,0
246018,0.0,7.0,7.0,1.93,90.72,24.34,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
246019,0.0,15.0,7.0,1.68,83.91,29.86,0,0,1,2,...,0,0,0,0,0,1,1,1,1,0
246020,2.0,2.0,7.0,1.70,83.01,28.66,1,0,0,4,...,0,0,0,0,0,0,1,1,0,0
246021,0.0,0.0,5.0,1.83,108.86,32.55,0,0,0,3,...,0,0,0,0,1,0,1,1,1,0

In [10]:
print('Distribution of HadHeartAttack')
print('Normalized: ',df['HadHeartAttack_n'].value_counts(normalize=True))
print('Actual: ',df['HadHeartAttack_n'].value_counts())

Distribution of HadHeartAttack
Normalized:  HadHeartAttack_n
0    0.945389
1    0.054611
Name: proportion, dtype: float64
Actual:  HadHeartAttack_n
0    232578
1     13435
Name: count, dtype: int64

In [11]:
def split_dataset(df, target_column, test_size=0.2, random_state=42):
    # Merkmale (Features) und Zielvariable (Target) aufteilen
    X = df.drop(columns=[target_column])
    y = df[target_column]
    
    # Stratifizierter Split
    X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=test_size, random_state=random_state, stratify=y
    )
    
    return X_train, X_test, y_train, y_test

In [12]:
X_train, X_test, y_train, y_test = split_dataset(df, target_column='HadHeartAttack_n')

print("Distribution Traing:")
print(y_train.value_counts(normalize=True))
print(y_train.value_counts())

print("Distribution Test:")
print(y_test.value_counts(normalize=True))
print(y_test.value_counts())

Distribution Traing:
HadHeartAttack_n
0    0.945389
1    0.054611
Name: proportion, dtype: float64
HadHeartAttack_n
0    186062
1     10748
Name: count, dtype: int64
Distribution Test:
HadHeartAttack_n
0    0.94539
1    0.05461
Name: proportion, dtype: float64
HadHeartAttack_n
0    46516
1     2687
Name: count, dtype: int64